# Ignorar absolutamente todo
*

# Permitir .gitignore
!.gitignore

# Permitir carpetas CLASS
!CLASS*/

# Permitir subcarpetas dentro de CLASS
!CLASS*/**/

# Permitir SOLO archivos Python
!CLASS*/**/*.py
